.desktop-content {
    width: 100%;
    height: calc(100vh - 40px);
    margin-top: 30px; /* Respoetamos la barra de tareas */
    padding: 40px;
    gap: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

.desktop-icon {
    width: 80px;
    font-size: 25px;

    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px;
    transition: background-color 0.1s;

}

.icon-img-container {
    display: flex;
    justify-content: center;
    transition: transform 0.2s ease;
}

.icon-img {
    width: 40px;
    height: 40px;
}


.icon-img-container:hover {
    transform: scale(1.2);
    font-size: 30px;

}

.icon-name {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
