.desktop-container {
    background-image: url('../assets/images/fondo.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.taskbar {
    background-color: rgba(31, 34, 41, 0.8);

    color: white;
    height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Zona Izquierda */
.taskbar-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo-kali {
    height: 30px;
    width: auto;
}

.logo-kali:hover {

}

.separator {
    height: 20px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 8px;
}

/* Zona derecha */
.taskbar-right {
    display: flex;
    align-items: center;
    height: 100%;
}