/* src/index.css - BORRA TODO LO DEMÁS Y PEGA ESTO */

:root {
  /* Variables de Kali (Opcional, pero recomendado) */
  --kali-bg: #1f2229;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color-scheme: dark;
}

/* 1. RESET DE CSS: Quitamos márgenes a todo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. FORZAMOS PANTALLA COMPLETA */
html, body {
  width: 100%;
  height: 100%; /* Esto es vital */
  background-color: #000;
  overflow: hidden; /* Evita barras de scroll */
}

/* 3. ¡MUY IMPORTANTE! Hacemos que la raíz de React también ocupe todo */
#root {
  width: 100%;
  height: 100%;
  /* Quitamos el display: flex que te estaba centrando la web */
  display: block;
}